<div class="nav-row">

<div class="nav-menu" tabindex="0">
    <div>Project</div>
    <ul>
        <li><a href="{{ "/project/authors/" | relURL }}" title="Authorship and Contributors">AUTHORS</a></li>
        <li><a href="{{ "/project/security/" | relURL }}" title="Security policies">SECURITY</a></li>
        <li><a href="{{ "/project/licence/" | relURL }}" title="Licence">LICENCE</a></li>
    </ul>
</div>
<!-- <div tabindex="0">
    Guides
</div> -->

<a class="nav-item" href="{{ "/doc/" | relURL }}" title="Reference manual">Manual</a>

</div>